.transactions-container .transactions .form-transaction {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transactions .form-transaction input,
.transactions .form-transaction select {
  padding: 1rem;
  background-color: var(--color-white);
}

.form-transaction textarea {
  padding: 1rem;
  resize: none;
  background-color: var(--color-white);
}

.transactions .buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.transactions-container .transactions .buttons .btn-transaction {
  background-color: var(--color-red);
  padding: .5rem 1rem;
  color: var(--color-white);
  cursor: pointer;
}

.buttons .btn-cancell {
  background-color: var(--color-gray);
  padding: .5rem 1rem;
  color: var(--color-black);
  cursor: pointer;
}
