.lista-usuarios ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lista-usuarios ul li {
  background-color: darkgray;
  padding: .5rem;
  border-radius: 1rem;
}

.lista-usuarios ul li .box-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-infos .infos span {
  font-size: 1.2rem;
  color: gray;
}

.box-infos .actions {
  display: flex;
  gap: 2rem;
}

.box-infos .actions button {
  background-color: green;
  padding: .5rem;
  cursor: pointer;
  color: #fff;
}
